In [2]:
import pandas as pd
import matplotlib.pyplot as csv

In [3]:
df=pd.read_csv(r'C:/Users/Administrator/Desktop/heartfailure/heart_failure_test.csv')

In [4]:
print(df)

      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  gender  \
0                      1  265000.00               1.9           130       1
1                      0  263358.03               1.1           136       1
2                      0  162000.00               1.3           129       1
3                      0  210000.00               1.9           137       1
4                      0  327000.00               2.7           116       0
..                   ...        ...               ...           ...     ...
294                    1  155000.00               1.1           143       1
295                    0  270000.00               1.2           139       0
296                    0  742000.00               0.8           138       0
297                    0  140000.00               1.4           140       1
298                    0  395000.00               1.6           136       1

     smoking  time  DEATH_EVENT
0          0     4            1
1          0     6            1
2          1     7            1
3          0     7            1
4          0     8            1
..       ...   ...          ...
294        1   270            0
295        0   271            0
296        0   278            0
297        1   280            0
298        1   285            0

[299 rows x 13 columns]

In [5]:
print(df.head(5))

    age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0  75.0        0                       582         0                 20
1  55.0        0                      7861         0                 38
2  65.0        0                       146         0                 20
3  50.0        1                       111         0                 20
4  65.0        1                       160         1                 20

   high_blood_pressure  platelets  serum_creatinine  serum_sodium  gender  \
0                    1  265000.00               1.9           130       1
1                    0  263358.03               1.1           136       1
2                    0  162000.00               1.3           129       1
3                    0  210000.00               1.9           137       1
4                    0  327000.00               2.7           116       0

   smoking  time  DEATH_EVENT
0        0     4            1
1        0     6            1
2        1     7            1
3        0     7            1
4        0     8            1

In [6]:
import joblib as jb
import warnings as wg
wg.filterwarnings('ignore')
from sklearn.feature_selection import chi2,SelectKBest
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
pd.set_option('display.width',800)
pd.set_option('display.max_column', 200)

In [7]:
df = pd.read_csv(r'C:/Users/Administrator/Desktop/heartfailure/heart_failure_test.csv')

In [8]:
print(df.head(5))

    age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  high_blood_pressure  platelets  serum_creatinine  serum_sodium  gender  smoking  time  DEATH_EVENT
0  75.0        0                       582         0                 20                    1  265000.00               1.9           130       1        0     4            1
1  55.0        0                      7861         0                 38                    0  263358.03               1.1           136       1        0     6            1
2  65.0        0                       146         0                 20                    0  162000.00               1.3           129       1        1     7            1
3  50.0        1                       111         0                 20                    0  210000.00               1.9           137       1        0     7            1
4  65.0        1                       160         1                 20                    0  327000.00               2.7           116       0        0     8            1

In [9]:
print(df.describe())

              age     anaemia  creatinine_phosphokinase    diabetes  ejection_fraction  high_blood_pressure      platelets  serum_creatinine  serum_sodium      gender    smoking        time  DEATH_EVENT
count  299.000000  299.000000                299.000000  299.000000         299.000000           299.000000     299.000000         299.00000    299.000000  299.000000  299.00000  299.000000    299.00000
mean    60.833893    0.431438                581.839465    0.418060          38.083612             0.351171  263358.029264           1.39388    136.625418    0.648829    0.32107  130.260870      0.32107
std     11.894809    0.496107                970.287881    0.494067          11.834841             0.478136   97804.236869           1.03451      4.412477    0.478136    0.46767   77.614208      0.46767
min     40.000000    0.000000                 23.000000    0.000000          14.000000             0.000000   25100.000000           0.50000    113.000000    0.000000    0.00000    4.000000      0.00000
25%     51.000000    0.000000                116.500000    0.000000          30.000000             0.000000  212500.000000           0.90000    134.000000    0.000000    0.00000   73.000000      0.00000
50%     60.000000    0.000000                250.000000    0.000000          38.000000             0.000000  262000.000000           1.10000    137.000000    1.000000    0.00000  115.000000      0.00000
75%     70.000000    1.000000                582.000000    1.000000          45.000000             1.000000  303500.000000           1.40000    140.000000    1.000000    1.00000  203.000000      1.00000
max     95.000000    1.000000               7861.000000    1.000000          80.000000             1.000000  850000.000000           9.40000    148.000000    1.000000    1.00000  285.000000      1.00000

In [10]:
df.age.skew()

np.float64(0.42306190672863536)

In [17]:
df.anaemia.skew()

np.float64(0.2782606644055605)

In [11]:
print(df.columns)

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes', 'ejection_fraction', 'high_blood_pressure', 'platelets', 'serum_creatinine', 'serum_sodium', 'gender', 'smoking', 'time', 'DEATH_EVENT'], dtype='object')

In [12]:
print(df['anaemia'].value_counts())

anaemia
0    170
1    129
Name: count, dtype: int64

In [13]:
no_anaemia = (df[df['anaemia']==0])

In [14]:
anaemia = (df[df['anaemia']==1])

In [23]:
df.corrwith(df['anaemia']).sort_values()

creatinine_phosphokinase   -0.190741
time                       -0.141414
smoking                    -0.107290
gender                     -0.094769
platelets                  -0.043786
diabetes                   -0.012729
ejection_fraction           0.031557
high_blood_pressure         0.038182
serum_sodium                0.041882
serum_creatinine            0.052174
DEATH_EVENT                 0.066270
age                         0.088006
anaemia                     1.000000
dtype: float64

In [15]:
anaemia = df.drop(columns=['diabetes', 'ejection_fraction', 'high_blood_pressure', 'serum_creatinine', 'serum_sodium', 'gender'])

In [16]:
anaemia

      age  anaemia  creatinine_phosphokinase  platelets  smoking  time  DEATH_EVENT
0    75.0        0                       582  265000.00        0     4            1
1    55.0        0                      7861  263358.03        0     6            1
2    65.0        0                       146  162000.00        1     7            1
3    50.0        1                       111  210000.00        0     7            1
4    65.0        1                       160  327000.00        0     8            1
..    ...      ...                       ...        ...      ...   ...          ...
294  62.0        0                        61  155000.00        1   270            0
295  55.0        0                      1820  270000.00        0   271            0
296  45.0        0                      2060  742000.00        0   278            0
297  45.0        0                      2413  140000.00        1   280            0
298  50.0        0                       196  395000.00        1   285            0

[299 rows x 7 columns]

In [29]:
x = df.drop(columns= ['anaemia', 'creatinine_phosphokinase', 'time', 'smoking', 'gender', 'platelets', 'diabetes'])

In [25]:
y = df['anaemia']

In [36]:
X = df[['creatinine_phosphokinase', 'time', 'smoking', 'gender', 'platelets', 'diabetes', 'ejection_fraction', 'high_blood_pressure', 'serum_sodium', 'serum_creatinine', 'DEATH_EVENT', 'age']]

In [37]:
X

     creatinine_phosphokinase  time  smoking  gender  platelets  diabetes  ejection_fraction  high_blood_pressure  serum_sodium  serum_creatinine  DEATH_EVENT   age
0                         582     4        0       1  265000.00         0                 20                    1           130               1.9            1  75.0
1                        7861     6        0       1  263358.03         0                 38                    0           136               1.1            1  55.0
2                         146     7        1       1  162000.00         0                 20                    0           129               1.3            1  65.0
3                         111     7        0       1  210000.00         0                 20                    0           137               1.9            1  50.0
4                         160     8        0       0  327000.00         1                 20                    0           116               2.7            1  65.0
..                        ...   ...      ...     ...        ...       ...                ...                  ...           ...               ...          ...   ...
294                        61   270        1       1  155000.00         1                 38                    1           143               1.1            0  62.0
295                      1820   271        0       0  270000.00         0                 38                    0           139               1.2            0  55.0
296                      2060   278        0       0  742000.00         1                 60                    0           138               0.8            0  45.0
297                      2413   280        1       1  140000.00         0                 38                    0           140               1.4            0  45.0
298                       196   285        1       1  395000.00         0                 45                    0           136               1.6            0  50.0

[299 rows x 12 columns]

In [38]:
vif = (pd.DataFrame())

In [39]:
vif['vif'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

In [41]:
vif['feature_names'] = X.columns

In [42]:
vif

          vif             feature_names
0    1.407225  creatinine_phosphokinase
1    5.568030                      time
2    1.880141                   smoking
3    3.801630                    gender
4    8.628329                 platelets
5    1.792590                  diabetes
6   13.354895         ejection_fraction
7    1.646250       high_blood_pressure
8   59.780407              serum_sodium
9    3.130800          serum_creatinine
10   2.475991               DEATH_EVENT
11  30.358077                       age